.login-card-container {
  &-content {
    &-form {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0 auto;

      .login-card-link {
        text-decoration: none;
        color: #1a2327;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
